body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

.form-container {
  background: white;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}

input {
  display: block;
  margin: 8px 0;
  padding: 8px;
  width: 100%;
}

button {
  padding: 8px;
  margin: 5px;
  cursor: pointer;
}

.grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  margin: 10% auto;
  width: 300px;
  border-radius: 10px;
}

.hidden {
  display: none;
}